/*
 ++++++++++++++++++++++++++++++++++++++++++++++++++++
 Main Style Sheet for http://www.conferenciarails.org
 Designed & Developed by Rafael Rebolleda
 www.rafaelrebolleda.com
 ++++++++++++++++++++++++++++++++++++++++++++++++++++

 Learn, but don't steal. It's bad karma.

 ****************************************************/

/* Pretty Basic CSS Reset
 *************************/
* {
  margin:0; padding:0;
  border:0; outline:0;
  text-decoration: none;
  background: transparent;
}

ul, ol, li {
  list-style: none;
}

header, section, aside, nav, footer, article {
  display: block;
}

/* Utilities & Generic Markup
 *****************************/
a {
  text-decoration: none;
  color: #333;
}
article a {
  color: blue;
}

a.current {
  font-weight: bold;
}

strong {
  padding: 2px 4px 2px 5px;
  background-color: #FF6;
}

hr {
  clear: both;
  height: 3px;
  margin: 20px 0;
  border: none;
  border-bottom: 3px double #AAA;
}

.hidden {
  display: none;
}

.out {
  position:absolute;
  top: -12345px;
}

/* Body, Header & Navigation
 ****************************/
body {
  background: #FFF url('assets/presentation/background.gif') repeat-y top left;
  font: normal 12px "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  color: #333;
}

header.layout {
  height: 202px;
  margin-left: 30px;
  background: transparent url('assets/presentation/header.png') repeat-x top left;
}

header.layout div#accessibility {
  height: 0;
  overflow: hidden;
}

header.layout div#accessibility a#registration {
  display: block;
  width: 17px; height: 111px;
  position: fixed; top: 10px; left: 6px;
  background: transparent url('assets/presentation/register_now.png') no-repeat top left;
}

header.layout h1#logo {
  position: absolute; top: 30px; left: 70px;
  z-index: 100;
}

header.layout h1#logo a {
  display: block;
  font-size: 42px;
}

header.layout p#conference_date {
  position: absolute; top: 83px; left: 70px;
  padding: 4px 7px 3px 7px;
  font: normal 16px "museo-1", "museo-2", "Helvetiva Neue", "Helvetica", "Arial", sans-serif;
  color: #FFF; background: #900;
  text-shadow: 1px 1px 1px #333;
}

header.layout h2#motto {
  width: 450px; height: 192px;
  position: absolute; top: 5px; left: 30px;
  background: transparent url('assets/presentation/motto_simple.png') repeat-y top left;
}

header.layout h2#motto span {
  position: absolute; top: 110px; left: 45px;
  font: 300 16px "museo-1", "museo-2", "Helvetiva Neue", "Helvetica", "Arial", sans-serif;;
  color: #9C0;
}


header.layout nav ol {
  width: 397px; height: 22px;
  position: absolute; top: 0px; right: 20px;
  padding-top: 5px;
  background: transparent url('assets/presentation/navigation.gif') no-repeat top left;
}
header.layout nav ol li {
  float: left;
  margin-right: 20px; padding-left: 20px;
  background: transparent url('assets/presentation/dot.gif') no-repeat 0 6px;
}
header.layout nav ol li.first {
  margin-left: 20px; padding-left: 10px;
  background: none;
}
header.layout nav ol li a {
  display: block;
  height: 18px;
}

header.layout nav ol li a#nav_call_for_papers {
  width: 93px;
  background: transparent url('assets/presentation/call_for_papers.gif') no-repeat top left;
}
header.layout nav ol li a#nav_registration {
  width: 75px;
  background: transparent url('assets/presentation/early_bird_registration.gif') no-repeat top -61px;
}
header.layout nav ol li a#nav_schedule {
  width: 58px;
  background: transparent url('assets/presentation/schedule.gif') no-repeat top left;
}
header.layout nav ol li a#nav_blog {
  width: 29px;
  background: transparent url('assets/presentation/blog.gif') no-repeat top left;
}
header.layout nav ol li a#nav_contact {
  width: 51px;
  background: transparent url('assets/presentation/contact.gif') no-repeat top left;
}



header.layout div#twitter_stream {
  width: 320px;
  padding: 10px 0 0 30px;
  position: absolute; top: 60px; right: 50px;
  background: transparent url('assets/presentation/quote.png') no-repeat top left;
}

header.layout div#twitter_stream blockquote {
  font: italic 13px "Georgia", "Times New Roman", "Times", serif;
  line-height: 18px;
  margin-bottom: 10px;
}

/* Main Content
 ***************/
#wrapper {
  position: relative;
  padding-top: 25px;
}

#content {
  float: left;
  margin-left: 70px;
  width: 48%;
}


#content h1 {
	font-size: 32px;
	color: #900;
  text-shadow: 1px 1px 2px #FFF;
  -moz-text-shadow: 1px 1px 2px #FFF;
  -webkit-text-shadow: 1px 1px 2px #FFF;
}
#content h1 a {
  color: #900;
}

#content h2 {
	font-size: 18px;
	margin: 10px 0px 20px 0px;
	color: #09C;
}

#content h3 {
	font-size: 16px;
	margin: 30px 0px 5px 0px;
	color: #9C0;
}

#content h4 {
	font-size: 14px;
	margin: 30px 0px 5px 0px;
	color: #9C0;
}

#content ul {
  margin-bottom: 20px; 
  margin-left: 20px;
}
#content li {
  margin-bottom: 5px;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 0px;
  line-height: 18px;
}

#content p {
	text-align: left;
	line-height: 18px;
	margin-bottom: 20px;
}

#content article p.tags {
  height: 15px;
  margin: 2px 0 2px 0; padding: 2px 0 5px 21px;
  color: #888;
  border-top: 1px dotted #EEE; border-bottom: 1px dotted #EEE;
  background: transparent url('assets/presentation/tag_green.png') no-repeat 1px 3px;
}

#content ul.archiveList {
  margin-top: 20px;
  margin-bottom: 40px;
}
#content ul.archiveList li {
  margin: 5px 0px;
  font-size: 1.2em;
  margin-left: 90px;
}
#content ul.archiveList li span.date {
  display: block;
  position: absolute;
  margin-left: -90px;
}
#content ul.archiveList li a:hover {
  text-decoration: underline;
}
#content p.archiveLinks a {
  margin-right: 20px;
  color: #0099CC;
}



/* Sidebars
 ***********/
#side_bars {
  float: right; position: relative; top: -52px;
/*position: absolute; top: -27px; right: 0;*/
  width: 397px;
  margin-right: 20px;
}

#side_bars h2 {
  margin: 6px auto 17px auto;
  height: 16px;
}

#side_bars strong {
  padding: 0;
  color: #444;
  background: none;
}


/* Wide Sidebar
 ***************/
div#wide_sidebar {
  float: left;
  width: 197px;
  padding: 0 7px;
  background: transparent url('assets/presentation/wide_sidebar.png') no-repeat top left;
}

div#wide_sidebar h2 {
  position: relative; top: -1px;
  width: 170px; height: 20px;
  background: transparent url('assets/presentation/check_out_our_sponsors.gif') no-repeat top left;
}

div#wide_sidebar h3 {
  position: relative; left: -5px;
  margin: 5px 0 5px 0;
}

div#wide_sidebar h3 a {
  padding: 2px 20px 2px 5px;
	color: #900;
}

div#wide_sidebar h3 a:hover {
  color: #FFF;
  background: #900 url('assets/presentation/caret.gif') no-repeat top right;
}

/*
div#wide_sidebar p {
  position: relative; left: -5px;
  padding-left: 5px;
  color: #666;
  line-height: 18px;
  border-left: 1px dotted #CCC;
}
*/

#wide_sidebar img {
  width: 193px; height: 50px;
  padding: 2px;
  border: 1px solid #DDD;
}

#wide_sidebar .anchor {
  position: relative;
  height: 100px;
}
#wide_sidebar .sponsor {
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 200px;
}
#wide_sidebar .anchor.vizzuality img {
  border: 1px solid #fff
}
/*
#wide_sidebar .anchor.alternative {
  height: 140px;
}
#wide_sidebar .anchor.alternative img {
  height: 93px;
}
*/
#wide_sidebar .sponsor .name {
  float: left;
  width: 200px;
}
#wide_sidebar .sponsor p {
  display: none;
  float: left;
  color: #666;
  padding: 5px 0px 8px 0px;
}

#wide_sidebar .sponsor:hover {
  background-color: #fff;
  padding: 5px 10px;
  top: -6px;
  left: -211px;
  border: 1px solid #999;
  z-index: 200;
  width: 390px;
  -moz-box-shadow: 1px 4px 6px #666;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 1px 4px 6px #666;
  -webkit-border-radius: 5px;
  box-shadow: 1px 4px 6px #666;
  border-radius: 5px;
}
#wide_sidebar .sponsor:hover p {
  display: block;
  padding-left: 10px;
  width: 180px;
}


/* Narrow Sidebar
 *****************/
div#narrow_sidebar {
  float: right;
  width: 150px;
  padding: 0 5px 0 10px;
  background: transparent url('assets/presentation/narrow_sidebar.png') no-repeat top left;
}

div#narrow_sidebar h2 {
  position: relative; top: 1px;
  width: 69px; height: 18px;
  margin-bottom: 22px;
  background: transparent url('assets/presentation/key_dates.gif') no-repeat top left;
}

div#narrow_sidebar h3 {
  margin: 15px 0 7px 0;
  color: #09C;
  font-size: 8px;
  text-transform: uppercase;
  border-bottom: 1px solid #CCC;
}

div#narrow_sidebar h4 {
  margin-bottom: 4px;
  color: #333;
  font-size: 9px;
  text-transform: uppercase;
}

div#narrow_sidebar h4 a {
  position: relative; left: -3px;
  padding: 1px 3px;
}

div#narrow_sidebar h4 a:hover {
  color: #FFF;
  background-color: #333;
}

div#narrow_sidebar address {
  font-size: 9px;
  font-style: normal;
  color: #444;
  line-height: 12px;
}

/* Footer
 *********/
footer.layout {
  clear: both;
  margin: 0 30px 0 70px;
}

footer.layout #blog_stuff {
  float: left;
  width: 48%;
}

footer.layout #blog_stuff header h1 {
  margin-bottom: 10px;
  color: #900;
  font-size: 18px;
}

footer.layout #blog_stuff header h1 a:hover {
  text-decoration: underline;
}

footer.layout #blog_stuff article {
  margin-bottom: 15px;
}

footer.layout #blog_stuff article h2 {
  margin-bottom: 5px;
}

footer.layout #blog_stuff article h2 a {
  position: relative; left: -4px;
  padding: 1px 4px;
  font-size: 14px;
  color: #9C0;
}

footer.layout #blog_stuff article h2 a:hover {
  color: #FFF;
  background-color: #9C0;
}


footer.layout #blog_stuff article p {
  color: #333;
  line-height: 18px;
}

footer.layout #blog_stuff article p.tags {
  height: 15px;
  margin: 2px 0 2px 0; padding: 2px 0 5px 21px;
  color: #888;
  border-top: 1px dotted #EEE; border-bottom: 1px dotted #EEE;
  background: transparent url('assets/presentation/tag_green.png') no-repeat 1px 3px;
}

footer.layout #blog_stuff article p.tags a {
  color: #444;
  font-weight: bold;
}

footer.layout #blog_stuff article p.tags a:hover {
  text-decoration: underline;
}

footer.layout div#the_team {
  float: right;
  width: 397px;
}

footer.layout div#the_team h5 {
  margin-bottom: 10px;
  color: #900;
  font-size: 18px;
}

footer.layout div#the_team h6 {
  margin-bottom: 25px;
  font-size: 14px;
  color: #9C0;
}

footer.layout div#the_team h6 a {
  padding: 2px 6px 4px 6px;
}

footer.layout div#the_team h6 a:hover {
  color: #FFF;
  background-color: #9C0;
}


footer.layout div#the_team ul li {
  float: left;
  width: 175px;
  height: 55px;
  margin: 0 20px 20px 0;
}

footer.layout div#the_team ul li img {
  float: left;
  width: 50px; height: 50px;
  margin-right: 10px; padding: 2px;
  border: 1px solid #EEE;
}

footer.layout div#the_team ul li p {
  font-size: 11px;
}

footer.layout div#the_team ul li p span.title {
  font-weight: bold;
}

/* Getting in touch
 *******************/
footer.layout div#get_in_touch {
  clear: both;
}

footer.layout div#get_in_touch h5 {
  margin-bottom: 15px;
  color: #09C;
  font-size: 18px;
}

footer.layout div#get_in_touch div#addresses {
  float: left;
  height: 140px;
}

footer.layout div#get_in_touch div#addresses ul li {
  float: left;
  width: 220px; height: 75px;
}

footer.layout div#get_in_touch div#addresses ul li address {
  font-size: 11px;
  font-style: normal;
  line-height: 14px;
}

footer.layout div#get_in_touch div#addresses ul li address abbr {
  text-decoration: none;
  border: none;
}

footer.layout div#get_in_touch div#addresses ul li address strong.city {
  display: block;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
}

footer.layout div#get_in_touch div#subscription {
  float: right;
  width: 397px;
}

footer.layout div#get_in_touch div#subscription h6 {
  margin-bottom: 21px; padding-right: 7px;
  font-size: 12px;
}

footer.layout div#get_in_touch div#subscription fieldset {
  border: none;
}

footer.layout div#get_in_touch div#subscription input {
  float: left;
  width: 283px; height: 30px;
  margin-right: 8px; padding: 7px 0 0 12px;
  border: 3px double #DDD;
  color: #DDD;
  font-size: 16px;
}

footer.layout div#get_in_touch div#subscription button {
  width: 80px; height: 43px;
  border: none;
  color: #FFF;
  font: normal 16px "Georgia", "Times New Roman", Times, serif;
  background-color: #09E;
}


/* W3C
 ******/
footer.layout div#validations {
  clear: both;
}

footer.layout div#validations hr {
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #CCC;
}

footer.layout div#validations h6 {
  margin-bottom: 10px;
  color: #9C0;
  font-size: 12px;
}

footer.layout div#validations ul {
  margin-bottom: 20px;
}

footer.layout div#validations ul li {
  display: inline;
  font-size: 11px;
}

footer.layout div#validations ul li a {
}

/**** PROGRAMME EXCEPTIONS ****/

body.programme #content {
  width: 600px;
}

body.programme #side_bars {
  width: 210px;
}

/**** TALK PAGE & BIO ****/

section#content .brief p {
  font-size: 14px;
  margin: 10px 0 20px;
}
section#content .bio p {
  text-align: justify;
  padding-right: 25%;
}
section#content .bio a:hover,section#content .brief a:hover {
    text-decoration: underline;
}
section#content .bio div.speaker-links a{
  color: #9C0
}
section#content .bio div.speaker-links a:hover {
  background-color: #9C0;
  color:white;
}

section#content .bio img, section#content .bio .card {
  float: right;
  width: 20%;
}
section#content .bio .card img{
  float:left;
  width: 80px;
  height: 80px;
  margin-bottom:1em;
}

section#content .brief ul,section#content .brief ol,section#content .brief li {
  list-style: disc;
}
section#content .brief ul{
  padding-left: 1.5em;
}

