<section id="blog_stuff" class="latest_posts">
  <header>
    <h1>Check out the latest news in <a href="/blog.html">that blog</a> of ours.</h1>
  </header>
  {% for post in site.posts limit:3 offset:1 %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year == '2010' %}
    <article> 
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="tags">
        {{ post.date | date: '%A %B %e, %Y' }}. In this article we'll talk about 
        {% for category in post.categories %}
          <a href="#">{{ category }}</a>{% if forloop.rindex == 1 %}.{% elsif forloop.rindex == 2 %} and {% else %}, {% endif %}
        {% endfor %}
      </p>
      <p>{{ post.excerpt }}</p>
    </article>
    {% endif %}
  {% endfor %}
</section>
