<div id="get_in_touch">
  <div id="addresses" class="vcard">
    <h5>Get in touch. We're all friendly.</h5>
    <a class="org fn hidden" href="http://conferenciarails.org">Conferencia Rails</a>
    <ul>
      <li>
        <address class="adr">
        <!-- TODO: Fill in the actual address -->
          <strong class="city">Madrid</strong><br />
          <span class="street-address">Paseo de la Castellana, 141</span><br />
          <span class="postal-code">28010</span>, <span class="region">Madrid</span>, <span class="country">Spain</span><br />
          <span class="tel"><span class="type hidden">Work</span> <abbr title="Telephone">Tel.</abbr> <span class="value">+34.123.456.789</span></span><br />
          <span class="tel"><span class="type">Fax</span>. <span class="value">+34.123.456.789</span></span><br />
          <a class="email" href="mailto:madrid@conferenciarails.org">madrid@conferenciarails.org</a>
        </address>
      </li>
    </ul>
  </div>

  <hr class="hidden" />
  
  <div id="subscription">
    <h5>Wanna stay in the loop?</h5>
    <h6>We'll keep you posted. Rest assured, we hate spam as much as you do; your email is safe with us.</h6>
    <form action="#">
    <!-- TODO: AJAX submission. -->
      <fieldset>
        <label for="email" class="out">eMail address:</label>
        <input id="email" name="email" type="text" value="your.name@example.com" />
        <button type="submit"><span>Join</span></button> 
      </fieldset>
    </form>
  </div>
  
  
</div>


