<div id="the_team">      
<!-- TODO: Add Gravatar to each profile and check URLs -->

  <h5>Meet the organizers.</h5>
  <h6>Feel like helping out? <a href="#">hola@conferenciarails.org</a></h6>
  <ul>
    <li>
      <p class="vcard">
        <img class="photo" src="http://www.gravatar.com/avatar/f140d769c581fc89a72a83a0e16f0541" alt="Agustín Cuenca" /><br class="hidden"/>
        <span class="fn">Agustín Cuenca</span>.<br />
        <span class="title">ASPgems CEO</span><br />
        <a class="org url hidden" href="#">http://aspgems.com</a><br />
      </p>
    </li>
    <li>
      <p class="vcard">
        <img class="photo" src="http://www.gravatar.com/avatar/0eaa4f32363d027f0d905d36272d98c9" alt="Sam Lown" /><br class="hidden"/>
        <span class="fn">Sam Lown</span>.<br />
        <span class="title">Autofiscal CTO</span><br />
        <a class="org url hidden" href="#">http://www.autofiscal.com</a><br />
      </p>
    </li>
    <li>
      <p class="vcard">
        <img class="photo" src="http://www.gravatar.com/avatar/3af7064fc6d5764a7855ef799687fd7c" alt="Fernando" /><br class="hidden"/>
        <span class="fn">Fernando M. de la Cueva</span>.<br />
        <span class="title">Programmer</span><br />
        <a class="org url hidden" href=""></a>
      </p>
    </li>
    <li>
      <p class="vcard">
        <img class="photo" src="http://www.gravatar.com/avatar/39086eb3d9a1437276d07c08ea0c3821" alt="Guillermo" /><br class="hidden"/>
        <span class="fn">Guillermo</span>.<br />
        <span class="title">Senior Programmer</span><br />
        <a class="org url hidden" href="">http://cientifico.net</a><br />
      </p>
    </li>
    <li>
      <p class="vcard">
        <img class="photo" src="http://www.gravatar.com/avatar/64daf88568a1db6a39dc9e6657e3e095" alt="Javier Ramírez" /><br class="hidden"/>
        <span class="fn">Javier Ramírez</span>.<br />
        <span class="title">ASP Gems CTO</span><br />
        <a class="org url hidden" href="">http://formatinternet.com</a><br />
      </p>
    </li>
    <li>
      <p class="vcard">
        <img class="photo" src="http://www.gravatar.com/avatar/fee69c20393434d362145fb77a3316b7" alt="Rafael Rebolleda" /><br class="hidden"/>
        <span class="fn">Rafael Rebolleda</span>.<br />
        <span class="title">Got Feeling? CTO</span><br />
        <a class="org url hidden" href="">http://gotfeeling.com</a><br />
      </p>
    </li>
  </ul>
</div>

