<div id="validations">
  <hr />
  <h6>We also work together with other organizations to make a better web for everyone.</h6>
  <ul>
    <li><a href="#"><abbr title="Worl Wide Web Consortium">W3C</abbr></a> (Valid <a href="#">HTML5</a> and <a href="#">CSS</a>)</li>
    <li><a href="#">Microformats</a></li>
  </ul>
</div>
<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("6r8ys-v0df60v228");
} catch(err) {}
</script>
