<div id="narrow_sidebar">
<!-- ↓ The one to the right ↓ -->

  <h2><span class="out">Key dates:</span></h2>
  
  <ul>
    <li class="vevent">
      <h3>TBA</h3>
    </li>
  </ul>

  <!--
  <ul>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-08-01T00:00+01:00">August, 1</abbr></h3>
      <h4><a class="summary" href="#">Call for Papers</a></h4>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-01T23:59+01:00">September, 1</abbr></h3>
      <h4><a class="summary" href="#">Call for Papers Deadline</a></h4>
    </li>
  </ul>
  -->

<!-- ↥ right sidebar ↥ -->  
</div>

