<div id="narrow_sidebar">
<!-- ↓ The one to the right ↓ -->

  <h2><span class="out">Key dates:</span></h2>
  
  <ul>
    <li class="vevent">
      <h3>TBA</h3>
    </li>
  </ul>

  <!--
  <ul>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-08-01T00:00+01:00">August, 1</abbr></h3>
      <h4><a class="summary" href="#">Call for Papers</a></h4>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-01T23:59+01:00">September, 1</abbr></h3>
      <h4><a class="summary" href="#">Call for Papers Deadline</a></h4>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-29T09:00+01:00">September, 29</abbr></h3>
      <h4><a class="summary" href="#">Workshops</a></h4>
      <address class="location">TBD</address>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-30T09:00+01:00">September, 30</abbr></h3>
      <h4><a class="summary" href="#">Conferencia Rails - Day 1</a></h4>
      <address class="location">Universidad Politécnica de Madrid</address>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-30T21:00+01:00">September, 30</abbr></h3>
      <h4><a class="summary" href="#">Party!</a></h4>
      <address class="location">TBD</address>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-10-01T09:00+01:00">October, 1</abbr></h3>
      <h4><a class="summary" href="#">Conferencia Rails - Day 2</a></h4>
      <address class="location">Universidad Politécnica de Madrid</address>
    </li>
  </ul>
  -->

<!-- ↥ right sidebar ↥ -->  
</div>

