<div id="narrow_sidebar">
<!-- ↓ The one to the right ↓ -->

  <h2><span class="out">Key dates:</span></h2>
  
  <ul>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-01T00:00+01:00">September, 1</abbr></h3>
      <h4><a class="summary" href="/conference/2010/09/01/call_for_papers.html">Call for Papers</a></h4>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-09-30T00:00+01:00">September, 30</abbr></h3>
      <h4><a class="summary" href="/conference/2010/09/01/call_for_papers.html">Call for Papers Deadline</a></h4>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-11-03T09:00+01:00">November, 3</abbr></h3>
      <h4><a class="summary" href="#">Workshops</a></h4>
      <address class="location">TBD</address>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-11-04T09:00+01:00">November, 4</abbr></h3>
      <h4><a class="summary" href="#">Conferencia Rails - Day 1</a></h4>
      <address class="location">Universidad Politécnica de Madrid</address>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-11-04T21:00+01:00">November, 4</abbr></h3>
      <h4><a class="summary" href="#">Party!</a></h4>
      <address class="location">TBD</address>
    </li>
    <li class="vevent">
      <h3><abbr class="dtstart" title="2010-11-05T09:00+01:00">November, 5</abbr></h3>
      <h4><a class="summary" href="#">Conferencia Rails - Day 2</a></h4>
      <address class="location">Universidad Politécnica de Madrid</address>
  </ul>

<!-- ↥ right sidebar ↥ -->  
</div>

