  <div id="wide_sidebar">
  <!-- ↓ Of the two, the one to the left ↓ -->
  
    <h2><span class="out">Check out our Sponsors!</span></h2>

    <h3><a href="http://aspgems.com">ASP Gems</a></h3>
    <p>
      <img src="/assets/logos/aspgems.gif" alt="ASPgems"/>
      ASPgems is a leader in agile solutions for the web. We use the most advanced software development techniques and methods. Our technology is agile, flexible and scalable.
    </p>

    <h3><a href="http://the-cocktail.com">The Cocktail</a></h3>
    <p>
      <img src="/assets/logos/thecocktail.gif" alt="The Cocktail"/>
      At The Cocktail we help our clients define, design and manage their online presence: usability, information architecture, design, SEO, metrics, front and back programming, marketing and research.
    </p>

  <!-- ↥ left sidebar ↥ -->  
  </div>

