  <div id="wide_sidebar">
  <!-- ↓ Of the two, the one to the left ↓ -->
  
    <h2><span class="out">Check out our Sponsors!</span></h2>

    <h3><a href="http://aspgems.com">ASP Gems</a></h3>
    <p>
      <img src="/assets/logos/aspgems.gif" alt="ASPgems"/>
      ASPgems es una empresa líder en soluciones ágiles para la Web. Usamos las más avanzadas técnicas y métodos de desarrollo de software. Nuestra tecnología es ágil, flexible y escalable.
    </p>

    <h3><a href="http://the-cocktail.com">The Cocktail</a></h3>
    <p>
      <img src="/assets/logos/thecocktail.gif" alt="The Cocktail"/>
      En The Cocktail ayudamos a nuestros clientes a definir, diseñar y gestionar su presencia online: usabilidad, arquitectura de la información,diseño, SEO, métricas, programación front y back, marketing e investigación.
    </p>

  <!-- ↥ left sidebar ↥ -->  
  </div>

