html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


body { font:14px sans-serif; *font-size:small; line-height: 1.2em; } /* Hack retained to preserve specificity */

pre, code, kbd, samp { font-family: monospace, sans-serif; }


html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
  
a:link { -webkit-tap-highlight-color: #930E29; }

a:hover, a:active { outline: none; }

a { color: #006699; }
a:hover { color: #006699; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
b, strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }
textarea { overflow: auto; vertical-align:text-top; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }


input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

body, select, input, textarea {
  color: #444;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

::-moz-selection { background: #930E29; color:#fff; text-shadow: none; }
::selection { background:#930E29; color:#fff; text-shadow: none; }


body {
	background: #1A1E1F url('../images/texture.png');
}

pre {
	margin: 0 0 10px 0; 
	padding: 10px; 
	color: #333; 
	font-size: 1.1em; 
	border: 1px solid #c1c1c1; 
	text-shadow: 0 1px 0 #FFFFFF; 
	background: #eaeaea; 
}

.item { margin: 0; overflow: hidden; list-style: none; }
	.item_media { float: left; display: inline; margin-right: 10px; }
		.item_media img { display: block; clear: both; margin-bottom: 8px }
	.item_body { display: table; zoom: 1; }


.wrapper {
	width: 951px;
	margin: 0 auto;
	*zoom: expression(this.runtimeStyle.zoom="1",this.innerHTML+='<br\ clear=both>');
	*zoom: 1; /* non-JS fallback */
}

.wrapper:before,
.wrapper:after {
    content: "";
    display: table;
}

.wrapper:after {
    clear: both;
}

header {
	padding: 15px 0 10px;
	background: #1A1E1F url('../images/sprite.png') repeat-x bottom center;
}
	header .wrapper {
		position: relative;
	}
	header h1 a {
		float: left;
		display: inline;
		margin: 5px 100px 0 -55px;
		width: 525px;
		height: 245px;
		background: #1A1E1F url('../images/sprite.png') no-repeat 0 -574px;
		text-indent: -900em;
	}
	
.header_arrow {
	position: absolute;
	left: 60px;
	bottom: -32px;
	width: 48px;
	height: 34px;
	background: url('../images/sprite.png') no-repeat -92px -291px;
}
	
nav ul {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 5px 0;
}
	nav li {
		float: left;
		display: inline;
	}
	nav a {
		display: block;
		color: #DDD;
		padding: 9px 10px;
	}
	nav a:hover {
		color: #FFF;
	}
	nav li.active {
		background: #1A1E1F url('../images/sprite.png') no-repeat 0 0;
	}
	nav li.active a {
		padding: 9px 16px 9px 0;
		margin-left: 16px;
		background: #1A1E1F url('../images/sprite.png') no-repeat right 0;
	}
	
.cfp {
	position: absolute;
	width: 250px;
	top: 90px;
	right: 80px;
}

.cfp_action, .cfp_action:hover {
	display: block;
	background: #870B22 url('../images/sprite.png') no-repeat right -50px;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	text-shadow: 0 -1px 0 #5D0716;
	letter-spacing: -1px;
	padding-right: 8px;
}
	.cfp_action span {
		display: block;
		padding: 18px 0px 20px 8px;
		background: url('../images/sprite.png') no-repeat left -50px;
	}

h2 {
	font-family: 'Open Sans', arial, sans-serif;
	text-transform: uppercase;
	color: #000;
	font-size: 28px;
	line-height: 0.9em;
	letter-spacing: -1px;
}
	.cfp h2 {
		color: #FFF;
		text-shadow: 0px 1px 0px #000;
		padding-bottom: 10px;
	}
	h2 span {
		display: block;
	}

.subterm {
	font-family: 'Open Sans', arial, sans-serif;
	color: #666;
	font-size: 17px;
}
	h3.subterm { display: inline; }

.content {
	background: #FFF;
	padding: 10px 0;
}

.speakers {
	width: 103%;
	margin-top: 35px;
	letter-spacing: -4px;
}
	.speakers h2 {
		padding-bottom: 10px;
	}
	.speakers ul {
		width: 695px;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
		vertical-align: top;
		padding: 1px;
		margin: 0;
	}
		.speakers li {
			width: 71px;
			height: 71px;
			margin: 0 6px 6px 0;
			display: -moz-inline-stack;
			display: inline-block;
			zoom: 1;
			*display: inline;
			vertical-align: top;
			letter-spacing: 0;
			background: #DDD;
			-moz-box-shadow: 0px 0px 2px #DDD; 
			-webkit-box-shadow: 0px 0px 2px #DDD; 
			box-shadow: 0px 0px 2px #DDD; 
			overflow: hidden;
			background: url('../images/sprite.png') no-repeat -768px -302px;
		}
	.speakers .note {
		width: 280px;
		height: 160px;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
		letter-spacing: 0;
		vertical-align: top;
		color: #DDD;
		overflow: hidden;
		background: url('../images/sprite.png') no-repeat 0 -120px;
		overflow: hidden;
	}
		.speakers .note p { margin-bottom: 8px}
		.speakers .inner-note {
			display: block;
			margin-left: 25px;
			padding: 20px 25px 0 0;
			height: 140px;
			background: url('../images/sprite.png') no-repeat right -120px;
			
		}

.more_info {
	margin-top: 40px;
}

.multicolumn {
	margin: 0;
	letter-spacing: -4px;
	width: 103%;
}
  .multicolumn li {
    display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
		letter-spacing: 0;
		vertical-align: top;
		width: 304px;
		margin-right: 18px;
  }

.grab_badge img, .the_venue img {
	display: block;
	max-width: 102%;
	margin: 13px 0 0 -1%;
}
	
.up_to_date {
	margin: 0;
	padding: 10px 0;
}
	.up_to_date li {
		padding: 9px 0;
		overflow: hidden;
		width: 90%;
	}
	
.ico {
	float: left;
	display: inline;
	width: 58px;
	height: 59px;
	margin: -11px 10px 0 0;
}
	.ico img {
		max-width: 100%;
	}

.sponsors {
	display: block;
	clear: both;
	padding-top: 35px;
	overflow: hidden;
}
	.sponsors ul {
		width: 108%;
		list-style: none;
		letter-spacing: -4px;
		margin: 0;
	}
	.sponsors li {
		display: -moz-inline-stack;
		display: inline-block;
		*zoom: 1;
		*display: inline;
		letter-spacing: 0px;
		vertical-align: top;
		width: 24.5%;
		margin: 10px 0;
	}
	.sponsors .note {
		height: 77px;
		margin: 40px 0 30px;
		padding-left: 25px;
		background: #EFEFEF url('../images/sprite.png') no-repeat 0 -471px;
	}
		.sponsors .note p {
			padding: 21px 25px 21px 0;
			background: url('../images/sprite.png') no-repeat right -398px;
			color: #777;
		}


footer {
	background: #1A1E1F url('../images/sprite.png') repeat-x 0 -1148px;
	padding: 45px 0;
	color: #ccc;
	text-align: right;
}
	footer .rubyto_f {
		float: right;
		width: 56px;
		height: 46px;
		display: inline;
		margin: 4px 0 0 10px;
		background: url('../images/sprite.png') repeat-x -6px -285px;
	}
	footer p {
		float: right;
		width: 450px;
	}

.speakers_list { margin-top: 35px}
	.speakers_list h2 { padding-bottom: 25px; }
	.speakers_list h3 {
		font-family: 'Open Sans', arial, sans-serif;
		text-transform: uppercase;
		color: #333;
		font-size: 24px;
		line-height: 0.9em;
		letter-spacing: -1px;
		margin-bottom: 4px;
	}
	.speakers_list ul {
		margin: 0;
		list-style: none;
	}
	.speakers_list li { padding-bottom:30px}
	.speakers_list p {
		line-height: 1.2em;
		margin-bottom: 8px;
	}
	.speakers_list img.item_media, .speakers_list .item_media img {
		-moz-box-shadow: 0px 0px 2px #DDD; 
		-webkit-box-shadow: 0px 0px 2px #DDD; 
		box-shadow: 0px 0px 2px #DDD; 
	}

.location { margin-top: 35px}
	.location h2 { padding-bottom: 25px; }
	.location p {
		line-height: 1.2em;
		margin-bottom: 8px;
	}

	.map {
		float: right;
		display: inline;
		position: relative;
		margin: -10px 0 0 10px;
	}
	.map span {
		position: relative;
		display: block;
		width: 630px;
		height: 300px;
		position: relative;
		border: 10px solid #F4F4F4;
		background: url('../images/map.png') no-repeat center center;
		z-index: 2;
		overflow: hidden;
		text-indent: -900em;
	}
	.map:after {
		z-index: 0; 
		position: absolute; 
		background: transparent; 
		width: 100px; 
		height: 100px; 
		content: ''; 
		right: 12px; 
		top: 14px; 
		transform: skew(-15deg) rotate(-6deg);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.3); 
		-webkit-box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.3); 
		-moz-box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.3);
	} 

	.map:before { 
		z-index: 0; 
		position: absolute; 
		background: transparent; 
		width: 100px; 
		height: 100px; 
		content: ''; 
		left: 12px; 
		bottom: 12px; 
		transform: skew(-15deg) rotate(-6deg);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
		-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
		-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	}


.badges { margin-top: 35px}
	.badges h2 { padding-bottom: 25px; }
	.badges p {
		margin-bottom: 8px;
	}
	.badges ul {
		list-style: none;
		margin: 0;
	}
	.badges li { padding-bottom: 30px; }
	.badges .item_media { text-align: center; }
	.badges pre { margin-top: 35px; }


@media only screen and (max-width: 1024px) and (min-width: 768px) { /* iPad portrait and other tablet/mid-sized viewports */
	h2 { font-size: 24px; }
	.wrapper { width: 95%; }
	header h1 a { margin-left: -35px}
	.speakers { width: 100% }
		.speakers ul { float: left; width: 550px}
		.speakers li { width: 10.1%; height: 10.1%; margin-right: 1%; margin-bottom: 1%; }
		.speakers li img { max-width: 100%; }
		.speakers .note { width: auto; display: table; height: 100px }
		.speakers .inner-note { height: 100px}
		.speakers .extra { display: none; }
	.cfp { width: 230px; right: 0; }
		.cfp_action span { padding: 18px 5px 19px 15px; }
	.multicolumn li { width: 32%; margin-right: 1%; }
		.multicolumn li li { width: auto; padding: 5px 0; }
		.ico {
			width: 48px;
			height: 49px;
			margin: -5px 10px 0 0;
		}
	.sponsors ul { width: 104%; }
	.sponsors li { text-align: center; }
		.sponsors li a { width: 110%; margin-left: -5%; }
		.sponsors li img { max-width: 95%; }
	.map span { width: 400px; height: 200px}
	.badges .item_media { width: 18%; overflow: hidden; }
		.badges .item_media img { max-width: 100% }
	.badges .item_body, .badges .pre { display: block; width: 80%; overflow: hidden; }
	.badges pre { margin-top: 10px; }
}

@media only screen and (max-width: 767px) and (min-width: 480px) { /* iPhone landscape and other small viewports */
	h2 { font-size: 24px; }
	.wrapper { width: 95%; }
	header { padding-bottom: 60px; }
	header h1 { }
		header h1 a { 
			display: -moz-inline-stack;
			display: inline-block;
			zoom: 1;
			*display: inline;
			float: none;
			width: 270px;
			height: 230px;
			background-position: -20px -865px;
			margin: 0 0 0 -10px;
		}
	.header_arrow { bottom: -82px; left: 20px }
	nav, nav ul { text-align: center; position: absolute; width: 100%}
	nav li { 
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
		float: none; 
	}
	nav a { padding: 9px 5px;}
	
	.speakers { width: 100% }
		.speakers ul { float: left; width: 290px }
		.speakers li { width: 15.1%; height: 15.1%; margin-right: 1.5%; margin-bottom: 1.5%; }
			.speakers li img { max-width: 100%; }
		.speakers .note { width: auto; display: table; font-size: 12px }
		.speakers .extra { display: none; }
	.cfp { width: 180px; right: 0; top: 50px}
		.cfp h2 { font-size: 18px; }
		.cfp_action span { padding: 18px 0 19px 10px; font-size: 18px }
	.multicolumn {
		padding-top: 135px;
		position: relative;
	}
	.multicolumn li { width: 48.5%; margin-right: 1%; }
		.ico {
			width: 48px;
			height: 49px;
			margin: 0 5px 0 0;
		}
	.up_to_date_col {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%!important;
	}
		.up_to_date_col h2 span { display: inline; }
		.multicolumn li li { width: 31.5%; padding: 5px 0;}
		.multicolumn li li p { width: 60%; overflow: hidden; text-overflow: ellipsis; }
		.up_to_date { margin-top: -5px; }
	.sponsors ul { width: 109%; }
	.sponsors li { width: 50%; margin: 5px 0;}
		.sponsors li a { display: block;}
		.sponsors li img { width: 85%; }
		.sponsors .note p { font-size: 10px; }
	footer p { width: 350px }
	footer .rubyto_f { float: left; }
	.speakers_list img.item_media, .speakers_list .item_media img {
		width: 90px;
	}
	.map { float: none; display: block; width: 97%; margin-bottom: 20px; margin-left: -5px; }
	.map span { width: 97%; height: 200px}
	.badges .item_media { width: 28%; overflow: hidden; }
		.badges .item_media img { max-width: 100% }
	.badges .item_body, .badges .pre { display: block; width: 70%; overflow: hidden; }
	.badges pre { margin-top: 15px; }
}

@media only screen and ( max-width: 479px) and (min-width: 320px) { /* Smart phones portrait */
		h2 { font-size: 21px; }
		.wrapper { width: 95%; }
		.more_info { margin-top: 25px; }
		header { padding-bottom: 60px; }
		header h1 { text-align: center; margin: -10px 0 5px 0; }
			header h1 a { 
				display: -moz-inline-stack;
				display: inline-block;
				zoom: 1;
				*display: inline;
				float: none;
				width: 310px;
				height: 160px;
				background-position: -394px -865px;
				margin: 0;
			}
		.header_arrow { bottom: -82px; left: 20px }
		.sponsorlink, .ticketslink, .twitterlink { display: none; }
		nav, nav ul { text-align: center; position: absolute;}
		nav { bottom: 0px; left: -5px; right: -5px; }
		nav ul {  text-align: center; margin: 0; left: -5px; right: -5px}
		nav li { 
			display: -moz-inline-stack;
			display: inline-block;
			zoom: 1;
			*display: inline;
			float: none; 
		}
		nav a { padding: 9px 3px;}
		nav li.active a {
			padding: 9px 10px 9px 0;
			margin-left: 10px;
		}
		.speakers { width: 100% }
			.speakers ul { width: 100%; }
			.speakers li { width: 13%; height: 13%; margin-right: 1.2%; margin-bottom: 1.2%; }
				.speakers li img { max-width: 100%; }
			.speakers .note { display: block; width: 100%}
			.speakers .inner-note { padding: 15px 25px 0 0; }
		.cfp { position: static; margin-top: -5px; width: 100%; text-align: center; padding-bottom: 30px}
			.cfp h2 { display: none }
			.cfp_action { 
				width: 200px;
				display: -moz-inline-stack;
				display: inline-block;
				zoom: 1;
				*display: inline;
			}
			.cfp_action span { padding: 18px 0 19px 10px; font-size: 18px }
		.multicolumn {
			padding-top: 215px;
			position: relative;
		}
		.multicolumn h2 { font-size: 17px; }
		.multicolumn li { width: 48.5%; margin-right: 1%; }
			.ico {
				width: 48px;
				height: 49px;
				margin: -5px 5px 0 0;
			}
		.up_to_date_col {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%!important;
		}
			.up_to_date_col h2 span { display: inline; }
			.multicolumn li li { width: 90%; padding: 5px 0; float: none; }
			.up_to_date { margin-top: -5px; }
		.sponsors ul { width: 109%; }
		.sponsors li { width: 50%; margin: 5px 0;}
			.sponsors li a { display: block;}
			.sponsors li img { width: 85%; }
			.sponsors .note { padding-left: 18px}
			.sponsors .note p { font-size: 10px; padding: 18px 15px 18px 0; line-height: 1.3em;}
		footer p { width: 225px; padding-left: 15px; text-align: left; float: none; display: table; zoom: 1; }
		footer .rubyto_f { float: left; }
		.speakers_list img.item_media, .speakers_list .item_media img {
			width: 45px;
		}
		.map { float: none; display: block; width: 97%; margin-bottom: 20px; margin-left: -5px; }
		.map span { width: 97%; height: 200px}
		.badges .item_media { width: 28%; overflow: hidden; }
			.badges .item_media img { max-width: 100% }
		.badges .item_body, .badges .pre { display: block; width: 68%; overflow: hidden; }
		.badges pre { margin-top: 15px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {  /* retina graphics */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-pixel-ratio: 2) and (orientation: landscape) {   /* retina graphics: landscape */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (orientation: portrait) {  /* retina graphics: portrait */

}
