<header class="layout">
  <!-- ↓ Logo, Motto & Navigation go here ↓ -->
    <div id="accessibility">
      <a class="out" href="#content">Skip to content</a>, <a class="out" href="#navigation">skip to navigation</a> or <a id="registration" href="http://stghq.me/e/7r"><span class="out">register now!.</span></a>
    </div>

    <h1 id="logo"><a href="/" class="summary">Conferencia Rails 2010</a></h1>
    <p id="conference_date"><span class="location">Madrid, Spain</span> // <span class="dtstart" title="2010-11-01T09:30+01:00">NOVIEMBRE 2010</span></p>
    <h2 id="motto"><span>The European Conference for rails programmers who care about the rest of the ecosystem.</span></h2>

    <nav>
      <ol>
        <li class="first"><a id="nav_call_for_papers" class="current" href="/conference/2010/08/09/call_for_papers.html"><span class="out">Call For Papers</span></a></li>
        <li><a id="nav_registration" href="http://stghq.me/e/7r"><span class="out">Early Bird Registration</span></a></li>
        <li><a id="nav_blog" href="/blog.html"><span class="out">Blog</span></a></li>
        <li><a id="nav_contact" href="#contact"><span class="out">Contact</span></a></li>
      </ol>
    </nav>

    <hr class="hidden">

    <div id="twitter_stream">
      <blockquote>
        <p><a href="http://twitter.com/conferenciaror" id="latest_twitter"></a></p>
      </blockquote>
    </div>

    <hr class="hidden">

  <!-- ↥ #header ↥ -->
</header>

