<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include layout/head.html %}
  </head>
  <body class="{{ page.name }}">
    {% include layout/header.html %}

    <div id="wrapper">
    <!-- ↓ Main Content & Sidebars go here ↓ -->

      <section id="content">
      <!-- ↓ Main Content: Big, wide left column ↓ -->
        <article>

          <h1>{{ page.title }}</h1>

          <div class="brief">
            {{ content }}
          </div>

          <div class="bio">
          <div class="card">
            <img src="{{page.profile.avatar}}" />
            <br clear="both" />
          <div class="speaker-links">
            <ul>
              <li><a href="{{ page.profile.url }}">Home Page</a></li>
              <li><a href="http://twitter.com/{{ page.profile.twitter }}">@{{ page.profile.twitter }}</a></li>
            </ul>
          </div>
          </div>
          <div class="bio">
            <h3>{{ page.profile.name }}</h3>
            {{ page.profile.description | textilize }}
          </div>
          <div class="card">
            <img src="{{page.profile.avatar2}}" />
            <br clear="both" />
          <div class="speaker-links">
            <ul>
              <li><a href="{{ page.profile.url2 }}">Home Page</a></li>
              <li><a href="http://twitter.com/{{ page.profile.twitter2 }}">@{{ page.profile.twitter2 }}</a></li>
            </ul>
          </div>
          </div>
            <h3>{{ page.profile.name2 }}</h3>
            {{ page.profile.description2 | textilize }}
          </div>
        </article>
      <!-- ↥ #content ↥ -->
      </section>

      {% include layout/side_bars.html %}

    <!-- ↥ #wrapper ↥ -->
    </div>

    <footer class="layout">
      <hr />

      {% include blog_stuff.html %}

      {% include the_team.html %}

      <hr />

      {% include get_in_touch.html %}

      {% include validations.html %}

    </footer>
  </body>
</html>

